.brand{
  background-color: #FDFCDC;
  flex: 1.5;
  font-size: 100px;
  color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 142px;
  max-height: 142px;
  cursor: pointer;
  user-select: none;
}