.viewstock{
  background-color: lightcoral;
  flex: 5;
  font-size: 16px;
  font-weight: lighter;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, minmax(40px,auto));
  padding: 10px;
}

.dashboard{
  width: 100%;
  height: 80vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.dateView, .details{
  padding: 8px 12px;
  font-size: 1.2rem;
  border: none;
}

.details{
  padding: 8px 12px;
  border-radius: 5px;
}

.details:focus{
  outline: none;
}

.details.storeView {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.details.act {
  grid-column: 1 / span 2; 
  grid-row: 2;
}

.dateView {
  grid-column: 3;
  grid-row: 2; 
  color: rgb(93, 93, 93);
  border-radius: 5px;
}

.dateView:focus{
  outline: none;
}

.act:disabled , .dateView:disabled{
  background-color: rgba(241, 240, 240, 0.977);
}

.get, .printView{
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightcoral;
  border: none;
  border-radius: 5px;
  background-color: #FDFCDC;
  cursor: pointer;
}

.printView:disabled{
  background-color: #ebeacd;
}

.get{
  grid-column: 4 / span 2;
  grid-row: 1;
  font-size: 1.5rem;
}

.printView{
  grid-column: 4 / span 2;
  grid-row: 2;
  font-size: 1.5rem;
}

.viewedItems{
  grid-column: 1 / span 5;
  grid-row: 3 / span 9;
  padding-bottom: 10px;
  max-height: 390px;
}