body {
  background-color: rgb(52, 99, 99);
  margin: 0px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  min-width: 1160px;
  position: relative;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Width for vertical scrollbars */
  height: 10px; /* Height for horizontal scrollbars */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
  border-radius: 50px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: rgba(197, 106, 106, 0.888); /* Dark gray thumb */
  border-radius: 0px;
  border: none;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 56, 56); /* Darker thumb on hover */
}
